{% extends "expenses/expbase.html" %}
{% load i18n %}
{% load expenses_extras %}
{% block exp_toolbar %}
    <a class="btn btn-info" href="{% url 'expenses:bill_editmeta' expense.pk %}"><i class="fa fa-edit"></i> {% trans "Edit metadata" %}</a>
    <a class="btn btn-danger" href="{% url 'expenses:bill_delete' expense.pk %}"><i class="fa fa-trash-alt"></i> {% trans "Delete" %}</a>
    <a href="{% url 'expenses:bill_convert' expense.pk %}" class="btn btn-light">{% trans "Convert to expense" %}</a>
{% endblock %}
{% block content %}
    <h1>{% trans "Bill editor" %}</h1>
    <div class="row mb-4 expenses-bill-meta-row">
        <div class="col-md-4">
            <span class="expenses-bill-meta-title">{% trans "Date:" %}</span>
            {{ expense.date|date:"c" }}
        </div>
        <div class="col-md-4">
            <span class="expenses-bill-meta-title">{% trans "Vendor:" %}</span>
            <span id="expenses-bill-meta-vendor">{{ expense.vendor }}</span>
        </div>
        <div class="col-md-4">
            <span class="expenses-bill-meta-title">{% trans "Category:" %}</span>
            {{ expense.category.html_link }}
        </div>
        <div class="col-md-4">
            <span class="expenses-bill-meta-title">{% trans "Date added:" %}</span>
            {{ expense.date_added|date:"DATETIME_FORMAT" }}
        </div>
        {% if expense.date_added != expense.date_modified %}
            <div class="col-md-4">
                <span class="expenses-bill-meta-title">{% trans "Date modified:" %}</span>
                {{ expense.date_modified|date:"DATETIME_FORMAT" }}
            </div>
        {%  endif %}
        {% if expense.description %}
            <div class="col-md-12">
                <span class="expenses-bill-meta-title">{% trans "Description:" %}</span>
                {{ expense.description }}
            </div>
        {% endif %}
    </div>

    <form method="POST" action="{% url "expenses:bill_item_add" expense.pk %}" id="expenses-billtable-form" autocomplete="off">
    <div id="expenses-billtable-deletions"></div>
        {% csrf_token %}
    <table class="table table-hover expenses-table" id="expenses-billtable">
        <thead>
        <tr>
            <th class="expenses-billtable-product">{% trans "Product" %}</th>
            <th class="expenses-billtable-serving">{% trans "Serving [g,&nbsp;L]" %}</th>
            <th class="expenses-billtable-unitprice">{% trans "Unit Price" %}</th>
            <th class="expenses-billtable-count">{% trans "Count" %}</th>
            <th class="expenses-billtable-amount">{% trans "Amount" %}</th>
            <th class="expenses-billtable-actions">{% trans "Actions" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr class="expenses-billtable-row" data-id="{{ item.id }}">
                <td class="expenses-billtable-product">{{ item.product }}</td>
                <td class="expenses-billtable-serving" data-value="{{ item.serving|floatformatll:"-3" }}">{{ item.serving|floatformat:"-3" }}</td>
                <td class="expenses-billtable-unitprice" data-value="{{ item.unit_price|floatformatll:"2" }}">{% money item.unit_price %}</td>
                <td class="expenses-billtable-count" data-value="{{ item.count|floatformatll:"-3" }}">{{ item.count|floatformat:"-3" }}</td>
                <td class="expenses-billtable-amount" data-value="{{ item.amount|floatformatll:"2" }}">{% money item.amount %}</td>
                <td class="expenses-billtable-actions">
                    <div class="btn-group" role="group" aria-label="{% trans "Item actions" %}">
                        <a href="{% url 'expenses:bill_item_edit' expense.pk item.pk %}" class="btn btn-info expenses-billtable-btn-edit" title="{% trans "Edit" %}"><i class="fa fa-fw fa-edit"></i></a>
                        <a href="{% url 'expenses:bill_item_delete' expense.pk item.pk %}" class="btn btn-danger expenses-billtable-btn-delete" title="{% trans "Delete" %}"><i class="fa fa-fw fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
            <tr id="expenses-billtable-addrow">
                <td class="expenses-billtable-product"><input name="product" class="form-control" placeholder="{% trans "Product" %}" required maxlength="40"></td>
                <td class="expenses-billtable-serving"><input name="serving" class="form-control" placeholder="{% trans "Serving [g, L]" %}" step="0.001" required type="number"></td>
                <td class="expenses-billtable-unitprice"><input name="unit_price" class="form-control" type="number" step="0.01" placeholder="{% trans "Unit Price" %}" required></td>
                <td class="expenses-billtable-count"><input name="count" class="form-control" placeholder="{% trans "Count" %}" step="0.001" type="number" value="1" data-default="1" required></td>
                <td class="expenses-billtable-amount">—</td>
                <td class="expenses-billtable-actions">
                    <button class="btn btn-primary" id="expenses-billtable-btn-add" type="submit" title="{% trans "Add an item" %}"><i class="fas fa-plus-circle"></i><span class="d-none d-md-inline"> {% trans "Add" %}</span></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" class="expenses-bill-total-title">{% trans "Total:" %}</td>
            <td class="expenses-bill-total">{% money expense.amount %}</td>
        </tr>
        </tfoot>
    </table>
    <p class="text-muted">{% trans "No changes will be made until you press “Save changes”." %}</p>
        <p class="expenses-buttons align-center">
            <button type="button" id="expenses-billtable-savechanges" class="btn btn-primary" disabled><i class="fa fa-save"></i> {% trans "Save changes" %}</button>
        </p>

</form>
{% endblock %}
