{% extends "expenses/expbase.html" %}
{% load i18n %}
{% block content %}
    {% if not categories %}
    <p class="expenses-empty">{% trans "No categories to show." %}
        <a href="{% url 'expenses:category_add' %}" class="btn btn-sm btn-secondary"><i class="fas fa-plus-circle"></i> {% trans "Add a category" %}</a>
    </p>
    {% else %}
        <form method="POST" id="expenses-bulkcatedit-form">
        {% csrf_token %}
        <table class="table table-hover table-no-top-border">
            <thead>
            <tr>
                <th class="expenses-bulkcatedit-name">{% trans "Name" %}</th>
                <th class="expenses-bulkcatedit-order">{% trans "Order" %}</th>
                <th class="expenses-bulkcatedit-actions"></th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td class="expenses-bulkcatedit-name"><input class="form-control" name="cat_{{ category.id }}_name" title="{% trans "Category name" %}" value="{{ category.name }}" required maxlength="20"></td>
                    <td class="expenses-bulkcatedit-order"><input class="form-control" type="number" title="{% trans "Category order" %}" name="cat_{{ category.id }}_order" value="{{ category.order }}" required></td>
                    <td class="expenses-bulkcatedit-actions"></td>
                </tr>
            {% endfor %}
                <tr id="expenses-bulkcatedit-addrow">
                    <td class="expenses-bulkcatedit-name"><input class="form-control" name="add_name" title="{% trans "Category name" %}" value="{{ category.name }}" required maxlength="20" disabled></td>
                    <td class="expenses-bulkcatedit-order"><input class="form-control" name="add_order" type="number" title="{% trans "Category order" %}" value="{{ category.order }}" required disabled></td>
                    <td class="expenses-bulkcatedit-actions"><button type="button" id="expenses-bulkcatedit-btn-add" class="btn btn-success"><i class="fa fa-fw fa-plus-circle"></i></button></td>
                </tr>
            </tbody>
        </table>
            <p class="text-muted">{% trans "Categories cannot be deleted in bulk, because the process requires user intervention. To do that, you need to visit individual category pages." %}</p>
            <p class="expenses-buttons align-center">
                <button id="expenses-bulkcatedit-btn-save" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {% trans "Save" %}</button>
                <a href="{% url 'expenses:category_list' %}" class="btn btn-secondary"><i class="far fa-arrow-alt-circle-left"></i> {% trans "Cancel" %}</a>
            </p>
        </form>
    {% endif %}
{% endblock %}
