{% extends "expenses/expbase.html" %}
{% load i18n %}
{% load expenses_extras %}
{% block exp_toolbar %}
    {% if mode == 'add' %}
        {% expenses_add_toolbar pid %}
    {% else %}
        <a href="{% url 'expenses:expense_convert' expense.pk %}" class="btn btn-light">Convert to bill</a>
    {% endif %}
{% endblock %}
{% block content %}
{% if saved %}
<div class="alert alert-success fade show">{% trans "Changes saved." %} <button type="button" class="close" data-dismiss="alert">×</button></div>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
        <div class="form-group row">
            <label for="{{ form.date.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Date" %}</label>
            <div class="col-sm-10">
                {{ form.date }}
                {{ form.date.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.vendor.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Vendor" %}</label>
            <div class="col-sm-10">
                {{ form.vendor }}
                {{ form.vendor.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.category.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Category" %}</label>
            <div class="col-sm-10">
                {{ form.category }}
                {{ form.category.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.amount.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Amount" %}</label>
            <div class="col-sm-10">
                {{ form.amount }}
                {{ form.amount.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Description" %}</label>
            <div class="col-sm-10">
                {{ form.description }}
                {{ form.description.errors }}
            </div>
        </div>
    <p class="expenses-buttons align-center">
    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {% if mode == 'add' %}{% trans "Add expense" %}{% else %}{% trans "Save changes" %}{% endif %}</button>
    </p>
</form>
{% endblock %}
