{% extends "expenses/expbase.html" %}
{% load i18n %}
{% load expenses_extras %}
{% block content %}
    <h1>{% blocktrans count exp_count=EXPENSES_INDEX_COUNT %}Last 1 expense{% plural %}Last {{ exp_count }} expenses{% endblocktrans %}</h1>
    {% expense_table last_n_expenses %}

    <h1>{% trans "Statistics" %}</h1>
    <div class="expenses-stat">
        <div class="row">
            <div class="col-sm-6">
                <p class="expenses-stat-heading">{% trans "Current month’s total" %}</p>
                <p class="expenses-stat-item expenses-stat-item-lg">{% money current_months_total %}</p>
            </div>
            <div class="col-sm-6">
                <p class="expenses-stat-heading">{% trans "Previous month’s total" %}</p>
                <p class="expenses-stat-item expenses-stat-item-lg">{% money previous_months_total %}</p>
            </div>
        </div>
            <div class="row">
            <div class="col-sm-6">
                <p class="expenses-stat-heading">{% trans "Last 3 days" %}</p>
                <table class="table table-borderless table-sm">
                    {% for date, amount in last_3_days %}
                    <tr>
                        <td>{{ date|date:"c"}}</td>
                        <td class="align-right">{% money amount %}</td>
                    </tr>
                    {% endfor %}
                    <tr><td><strong>{% trans "Total:" %}</strong></td><td class="align-right">{% money last_3_days_sum %}</td></tr>
                </table>
                <p class="expenses-stat-heading">{% trans "Spending per category" %}</p>
                <table class="table table-borderless table-sm">
                    {% for category, amount in spending_per_category %}
                    <tr>
                        <td>{{ category.html_link }}</td>
                        <td class="align-right">{% money amount %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-sm-6">
                <p class="expenses-stat-heading">{% trans "Category chart" %}</p>
                <script type="text/javascript" src="https://kozea.github.io/pygal.js/latest/pygal-tooltips.min.js"></script>
                <div class="expenses-stat-item">{{ category_chart }}</div>
            </div>
        </div>
    </div>
{% endblock %}
