{% extends "expenses/expbase.html" %}
{% load i18n %}
{% load expenses_extras %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group row">
            <label for="{{ form.vendor.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Name" %}</label>
            <div class="col-sm-10">
                {{ form.name }}
                {{ form.name.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.vendor.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Vendor" %}</label>
            <div class="col-sm-10">
                {{ form.vendor }}
                {{ form.vendor.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.category.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Category" %}</label>
            <div class="col-sm-10">
                {{ form.category }}
                {{ form.category.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.amount.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Amount" %}</label>
            <div class="col-sm-10">
                {{ form.amount }}
                {{ form.amount.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Description" %}</label>
            <div class="col-sm-10">
                {{ form.description }}
                {{ form.description.errors }}
                <small class="form-text text-muted">{% trans "When the template is executed, a <code>!count!</code> tag will be replaced with the template count." %}</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.type.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Type" %}</label>
            <div class="col-sm-10">
                {% for radio in form.type %}
                    <div>
                        <label for="{{ radio.id_for_label }}">
                            <span class="radio">{{ radio.tag }}</span>
                            {{ radio.choice_label }}
                        </label>
                    </div>
                {% endfor %}
                {{ form.type.errors }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.comment.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Comment" %}</label>
            <div class="col-sm-10">
                {{ form.comment }}
                {{ form.comment.errors }}
            </div>
        </div>
        <p class="expenses-buttons align-center">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {% if mode == 'add' %}{% trans "Add expense" %}{% else %}{% trans "Save changes" %}{% endif %}</button>
        </p>
    </form>
{% endblock %}
