{% extends "expenses/expbase.html" %}
{% load i18n %}
{% load expenses_extras %}
{% block exp_toolbar %}
    <a class="btn btn-info" href="{% url 'expenses:template_edit' template.pk %}"><i class="fa fa-edit"></i> {% trans "Edit" %}</a>
    <a class="btn btn-danger" href="{% url 'expenses:template_delete' template.pk %}"><i class="fa fa-trash-alt"></i> {% trans "Delete" %}</a>
{% endblock %}
{% block content %}
    <h2>{% trans "Details" %}</h2>
    <div class="expenses-template-show-list">
        <div class="row">
            <div class="col-sm-2 expenses-show-label">{% trans "Name" %}</div>
            <div class="col-sm-10">
                {{ template.name }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 expenses-show-label">{% trans "Type" %}</div>
            <div class="col-sm-10">
                {{ template.type_text }}
            </div>
        </div>

        {% if template.comment %}
            <div class="row">
                <div class="col-sm-2 expenses-show-label">{% trans "Comment" %}</div>
                <div class="col-sm-10">
                    {{ template.comment|linebreaks }}
                </div>
            </div>
        {% endif %}
    </div>
    <h2>{% trans "Values" %}</h2>
    <div class="expenses-template-show-list">
        <div class="row">
            <div class="col-sm-2 expenses-show-label">{% trans "Vendor" %}</div>
            <div class="col-sm-10">
                {{ template.vendor }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 expenses-show-label">{% trans "Category" %}</div>
            <div class="col-sm-10">
                {{ template.category.html_link }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 expenses-show-label">{% trans "Amount" %}</div>
            <div class="col-sm-10 expenses-show-amount">
                {{ template.display_amount }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 expenses-show-label">{% trans "Description" %}</div>
            <div class="col-sm-10">
                {{ template.description|linebreaks }}
            </div>
        </div>
    </div>

    <h2>{% trans "Run" %}</h2>
        {% exp_template_actions template True True %}
    </div>
{% endblock %}

