{% extends "expenses/expbase.html" %}
{% load i18n %}
{% load expenses_extras %}
{% block content %}
    <form action="" method="POST" id="expenses-templateedit-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group row mb-3">
            <label for="{{ form.vendor.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Name" %}</label>
            <div class="col-sm-10">
                {{ form.name }}
                {{ form.name.errors }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="{{ form.vendor.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Vendor" %}</label>
            <div class="col-sm-10">
                {{ form.vendor }}
                {{ form.vendor.errors }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="{{ form.category.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Category" %}</label>
            <div class="col-sm-10">
                {{ form.category }}
                {{ form.category.errors }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="{{ form.amount.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Amount" %}</label>
            <div class="col-sm-10">
                {{ form.amount }}
                {{ form.amount.errors }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Description" %}</label>
            <div class="col-sm-10">
                {{ form.description }}
                {{ form.description.errors }}
                <small class="form-text text-muted">{% trans "When the template is executed, the following tags will be interpreted (depending on the type):" %}
                    <ul>
                        {# Translators: Do not translate the !count! tag name #}
                        <li>{% trans "<code>!count!</code> will be replaced with the count specified by the user." %}</li>
                        {# Translators: Do not translate the !description! tag name #}
                        <li>{% trans "<code>!description!</code> will be replaced with the description provided by the user." %}</li>
                    </ul>
                    {% trans "Descriptions can have multiple lines. Those have special meaning:" %}
                    <ul>
                        <li>{% trans "If the type is “Multiplied by count”, lines will be used as plural forms. For English, provide two forms (one, many). For Polish, provide three or four forms (one, two, five, fraction)." %}</li>
                        {# Translators: Do not translate the !description! tag name #}
                        <li>{% trans "If the type is “With description selected from list”, the first line is the main description line, and further lines are choices shown to the user. The main description should contain a <code>!description!</code> tag." %}</li>
                        <li>{% trans "If the type is “Menu”, each line is a menu item. Put the amount first, followed by a single space, followed by the description (spaces allowed). The “Amount” field is ignored." %}</li>
                    </ul>
                </small>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="{{ form.type.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Type" %}</label>
            <div class="col-sm-10">
                {% for radio in form.type %}
                    <div>
                        <label for="{{ radio.id_for_label }}">
                            <span class="radio">{{ radio.tag }}</span>
                            {{ radio.choice_label }}
                        </label>
                    </div>
                {% endfor %}
                {{ form.type.errors }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="{{ form.comment.id_for_label }}" class="col-sm-2 col-form-label">{% trans "Comment" %}</label>
            <div class="col-sm-10">
                {{ form.comment }}
                {{ form.comment.errors }}
            </div>
        </div>
        <p class="expenses-buttons align-center">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {% if mode == 'add' %}{% trans "Add template" %}{% else %}{% trans "Save changes" %}{% endif %}</button>
        </p>
    </form>
{% endblock %}
