.expenses-stat-heading {
    font-weight: bold;
    margin-bottom: 0;
}

#expenses-wordmark {
    font-weight: bold;
}
#expenses-wordmark:before {
    content: " ◆ ";
    color: #bbb;
}

.expenses-stat-item-lg {
    font-size: 2em;
}

.expenses-big-question {
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
}

.expenses-table td, .expenses-table th {
    vertical-align: middle;
}

.expenses-buttons {
    margin-bottom: 1rem;
    text-align: center;
}

.table-no-top-border th {
    border-top: none;
}

#expenses-toolbar {
    border: 1px solid #0000c1;
    border-top: none;
    border-radius: 0 0 .25rem .25rem;
    padding: .5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 1px 1px #0ad;
    overflow-x: auto;
    white-space: nowrap;
}

#expenses-toolbar:empty {
    border: none;
    padding: 0;
    box-shadow: none;
}

.expenses-empty {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}

.expenses-container h1,
.expenses-container h2,
.expenses-container h3,
.expenses-container h4,
.expenses-container h5,
.expenses-container h6 {
    font-family: var(--font-family-sans-serif);
}

footer#footer {
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.expense-container > p:last-child {
    margin-bottom: 0;
}

.expenses-table-date {
    width: 12%;
}

.expenses-table-vendor {
    width: 21%;
}

.expenses-table-category {
    width: 21%;
}

.expenses-table-amount {
    width: 8%;
    text-align: right;
}

.expenses-table-description {
    width: 36%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
}

.expenses-cattable-name {
    width: 40%;
}

.expenses-cattable-expenses, .expenses-cattable-templates {
    width: 15%;
}

.expenses-cattable-alltimetotal, .expenses-cattable-monthlytotal {
    width: 15%;
}

.expenses-quickadd-mini-input {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
}

.expenses-container h1 {
    font-size: 2.5rem;
}

.expenses-container h2 {
    font-size: 2rem;
}

.expenses-bill-meta-title {
    font-weight: bold;
}

.expenses-bill-total-title {
    font-weight: bold;
    text-align: right;
}

.expenses-bill-total {
    font-size: 1.5em;
    text-align: right;
}

.expenses-billtable-product {
    width: 25%;
}

.expenses-billtable-serving,
.expenses-billtable-count,
.expenses-billtable-unitprice,
.expenses-billtable-amount {
    width: 15%;
    text-align: right;
}

.expenses-billtable-actions {
    width: 15%;
}

.expenses-mtable-date {
    font-weight: bold;
    padding: 0.1rem !important;
}

.expenses-mtable-left {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
}

.expenses-mtable-amount {
    font-size: 1.25em;
    text-align: right;
    width: 6em;
}

.expenses-mtable-details {
    margin: 0;
    font-size: 0.85em;
}

.expenses-table .autocomplete {
    position: sticky;
}

.expenses-bulkcatedit-actions {
    max-width: 0;
    text-align: right;
}

.expenses-show-list .row,
.expenses-template-show-list .row {
    margin-bottom: 0.25rem;
    vertical-align: middle;
    line-height: 2rem;
}

.expenses-show-list .row:last-child,
.expenses-template-show-list .row:last-child {
    margin-bottom: 0;
}

.expenses-show-label {
    font-weight: bold;
}

.expenses-templatetable-name {
    width: 65%;
}

.expenses-templatetable-amount {
    width: 10%;
    text-align: right;
}

.expenses-templatetable-actions {
    width: 25%;
    text-align: right;
}

.expenses-templatetable-actions form {
    justify-content: flex-end;
}

ul.expenses-templatelist li {
    margin-top: 1.5rem;
}

ul.expenses-templatelist li:first-child {
    margin-top: 0;
}

.expenses-search-box {
    margin-bottom: 1rem;
}

.expenses-search-box label,
.expenses-search-box .expenses-search-indented {
    display: block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.expenses-search-box .input-group {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: calc(100% - 3rem);
}

.expenses-search-box > label > input {
    margin-right: 0.5rem;
}

.expenses-search-filter-input {
    display: inline;
    width: unset;
    margin-left: 0.5rem;
}

.expenses-search-description {
    font-weight: bold;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

#expenses-search-settings {
    margin-left: 0;
    margin-right: 0;
}

.expenses-search-toggle {
    width: 100%;
    margin-bottom: .5rem;
}

@media (max-width: 767px) {
    .expenses-search-box {
        padding: 0;
    }
}

@media (min-width: 768px) {
    #expenses-search-settings {
        display: flex !important;
    }
}
