{% load i18n %}
{% if page.paginator.num_pages > 1 %}
    <nav aria-label="{% trans "Page navigation" %}" class="expenses-paginator">
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="{% trans "Previous" %}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">{% trans "Previous" %}</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="?page={{ page.number }}" aria-label="{% trans "Previous" %}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">{% trans "Previous" %}</span>
                    </a>
                </li>
            {% endif %}
            {% for p in page.paginator.page_range %}
                <li class="page-item{% if p == page.number %} active{% endif %}"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endfor %}
            {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="{% trans "Next" %}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">{% trans "Next" %}</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="?page={{ page.number }}" aria-label="{% trans "Next" %}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">{% trans "Next" %}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
